.contactContainer {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 755px;
    background: #260A00;
    gap: 20px;
    margin: auto;
}

.titleContact {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 0;
    width: 100%;
    font-style: normal;
    font-weight: 800;
    font-size: 3.57vw;
    line-height: 3.57vw;
    text-align: center;
    color: #EBE4DE;
    text-transform: uppercase;
}

.inputContact {
    margin: auto;
    margin-inline: 12%;
    width: 75%;
    height: 53px;
    text-align: left;
    background: #EBE4DE;
    font-style: normal;
    font-weight: 700;
    font-size: 1.859vw;
    line-height: 1.859vw;
    color: #260A00;
    padding-left: 20px;
}

.inputContact::placeholder {
    height: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.338vw;
    line-height: 1.859vw;
    color: #260A00;
    opacity: 0.5;
    padding-inline: 20px;
}

.textAreaContact {
    margin-inline: 12%;
    width: 75%;
    height: 196px;
    background: #EBE4DE;
    font-style: normal;
    font-weight: 700;
    font-size: 1.338vw;
    line-height: 1.859vw;
    text-align: left;
    color: #260A00;
    padding: 20px;
}

.textAreaContact::placeholder {
    height: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.338vw;
    line-height: 1.859vw;
    color: #260A00;
    opacity: 0.5;
    padding-left: 20px;
}

.alert {
    margin-inline: 12%;
    width: 100%;
}

.contactBtn {
    margin: auto;
    margin-block: 20px;
    width: 247px;
    height: 53px;
    background: #FF6224;
    font-style: normal;
    font-weight: 700;
    font-size: 1.338vw;
    line-height: 1.859vw;
    color: #260A00;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
    .contactContainer {
        height: fit-content;
    }
    
    .titleContact {
        font-size: 32px;
        line-height: 32px;
    }
    
    .inputContact {
        width: 280px;
        font-size: 16px;
        line-height: 20px;
        height: 40px;
        padding-left: 0px;
        margin: auto;
    }
    
    .inputContact::placeholder {
        font-size: 16px;
        line-height: 20px;
    }
    
    .textAreaContact {
        width: 280px;
        font-size: 12px;
        line-height: 20px;
        padding-left: 0px;
        margin: auto;
    }
    
    .textAreaContact::placeholder {
        font-size: 12px;
        line-height: 20px;
    }

    
    .alert {
        width: 280px;
        font-size: 12px;
        line-height: 20px;
        margin: auto;
    }
    
    .contactBtn {
        width: 280px;
        font-size: 12px;
        line-height: 20px;
        height: 32px;
    }
}